*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(project_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #fff;
    width: 40rem;
    padding: 1.5rem;
    border-radius: 30px;
}
.main-heading{
    text-align: center;
    padding: 1rem 0 1.5rem 0;
}
.questions{
    border-bottom: 1px solid black;
    padding: 0.75rem 0;
    cursor: pointer;
}
.answers{
    padding-top: 0.75rem;
    line-height: 1.5;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.active .answers{
    height: 90px;
}

