*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("project-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#modal-button {
  position: absolute;
  left: 10%;
  top: 70%;
  font-size: 2rem;
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  transition: 0.5s;
}
#modal-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#modal-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1.3rem 1rem;

  animation-name: animatemodal;
  animation-duration: 0.4s;
}
#modal {
  margin-right: 1rem;
  align-self: center;
}
#close-btn {
  font-size: 3rem;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
}
.backdrop{
  display:none;
  top:0;
  left:0;
  height:100%;
  background-color: rgba(0,0,0,0.2);
  transition: 0.4s;
}


/*modal animation*/

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
